In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pt
import seaborn as sns

In [23]:
df = pd.read_csv('quora_train.csv')
print("The shape of the data is", df.shape)
print("\n Information of the data: ",df.info)
print("\n ",df.isnull().sum())

The shape of the data is (404290, 6)

 Information of the data:  <bound method DataFrame.info of             id    qid1    qid2
0            0       1       2  \
1            1       3       4
2            2       5       6
3            3       7       8
4            4       9      10
...        ...     ...     ...
404285  404285  433578  379845
404286  404286   18840  155606
404287  404287  537928  537929
404288  404288  537930  537931
404289  404289  537932  537933

                                                question1
0       What is the step by step guide to invest in sh...  \
1       What is the story of Kohinoor (Koh-i-Noor) Dia...
2       How can I increase the speed of my internet co...
3       Why am I mentally very lonely? How can I solve...
4       Which one dissolve in water quikly sugar, salt...
...                                                   ...
404285  How many keywords are there in the Racket prog...
404286          Do you believe there is life after death?
404287                                  What is one coin?
404288  What is the approx annual cost of living while...
404289              What is like to have sex with cousin?

                                                question2  is_duplicate
0       What is the step by step guide to invest in sh...             0
1       What would happen if the Indian government sto...             0
2       How can Internet speed be increased by hacking...             0
3       Find the remainder when [math]23^{24}[/math] i...             0
4                 Which fish would survive in salt water?             0
...                                                   ...           ...
404285  How many keywords are there in PERL Programmin...             0
404286         Is it true that there is life after death?             1
404287                                  What's this coin?             0
404288  I am having little hairfall problem but I want...             0
404289      What is it like to have sex with your cousin?             0

[404290 rows x 6 columns]>

  id              0
qid1            0
qid2            0
question1       1
question2       2
is_duplicate    0
dtype: int64

In [24]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [25]:
new_df = df.sample(40000)

In [26]:
new_df.shape

(40000, 6)

In [27]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [28]:
new_df.dropna()

,id,qid1,qid2,question1,question2,is_duplicate
287131,287131,407833,407834,Orbital picture of ethane?,Suggest one simple and small good book to know...,0
131645,131645,210996,99024,What are some good reasons to rewatch a Movie/...,What are some really good atheist TV shows and...,0
70851,70851,122028,122029,How can I buy mora sarees?,Can I wear spect on saree?,0
183137,183137,280119,280120,What is a Copyright intern?,Is a copyright international?,0
364345,364345,494413,494414,How do I identify a USB 1.0 or 2.0 or 3.0 pen ...,What makes USB 3.0 faster than USB 2.0?,0
...,...,...,...,...,...,...
359367,359367,489009,489010,What are each of the official Instagram accoun...,Can anyone help me out to know if this is the ...,0
167808,167808,260069,260070,How could Christianity have avoided schism?,How can Windows registry cleaners fix a bad re...,0
327335,327335,453751,453752,What are some of the most elaborate or widely-...,Which is the most famous Internet hoax of all ...,1
262192,262192,378457,124058,"If we propose an ""objective world"" which is in...",What is the best way to date strippers?,0
112417,112417,61101,59830,Why don't atheists believe in any gods?,"What do atheists actually think, and why don't...",1

In [29]:
new_df.dropna(subset=['question2'])

,id,qid1,qid2,question1,question2,is_duplicate
287131,287131,407833,407834,Orbital picture of ethane?,Suggest one simple and small good book to know...,0
131645,131645,210996,99024,What are some good reasons to rewatch a Movie/...,What are some really good atheist TV shows and...,0
70851,70851,122028,122029,How can I buy mora sarees?,Can I wear spect on saree?,0
183137,183137,280119,280120,What is a Copyright intern?,Is a copyright international?,0
364345,364345,494413,494414,How do I identify a USB 1.0 or 2.0 or 3.0 pen ...,What makes USB 3.0 faster than USB 2.0?,0
...,...,...,...,...,...,...
359367,359367,489009,489010,What are each of the official Instagram accoun...,Can anyone help me out to know if this is the ...,0
167808,167808,260069,260070,How could Christianity have avoided schism?,How can Windows registry cleaners fix a bad re...,0
327335,327335,453751,453752,What are some of the most elaborate or widely-...,Which is the most famous Internet hoax of all ...,1
262192,262192,378457,124058,"If we propose an ""objective world"" which is in...",What is the best way to date strippers?,0
112417,112417,61101,59830,Why don't atheists believe in any gods?,"What do atheists actually think, and why don't...",1

In [30]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [31]:
new_df.duplicated().sum()

0

In [32]:
ques_df = new_df[['question1', 'question2']]
ques_df.head()

,question1,question2
287131,Orbital picture of ethane?,Suggest one simple and small good book to know...
131645,What are some good reasons to rewatch a Movie/...,What are some really good atheist TV shows and...
70851,How can I buy mora sarees?,Can I wear spect on saree?
183137,What is a Copyright intern?,Is a copyright international?
364345,How do I identify a USB 1.0 or 2.0 or 3.0 pen ...,What makes USB 3.0 faster than USB 2.0?

In [33]:
from sklearn.feature_extraction.text import CountVectorizer

questions = list(ques_df['question1']) + list(ques_df['question2'])

cv = CountVectorizer(max_features=3000)

q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [34]:
temp_df1 = pd.DataFrame(q1_arr, index=ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index=ques_df.index)

temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(40000, 6000)

In [35]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
287131,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
131645,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70851,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
183137,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
364345,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359367,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
167808,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
327335,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
262192,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
112417,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [37]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
287131,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
131645,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70851,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
183137,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
364345,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(temp_df.iloc[:,0:-1].values, 
                                                    temp_df.iloc[:,-1].values, 
                                                    test_size=0.2, 
                                                    random_state=1)

In [39]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test, y_pred)

0.7505

In [40]:
from xgboost import XGBClassifier

xgb = XGBClassifier()
xgb.fit(X_train, y_train)
y_pred = xgb.predict(X_test)
accuracy_score(y_test, y_pred)

0.73275